// Importo las Variables
@import '../utils/variables';

// Estilos para la pagina carta de la web carta.html
.menu-carta-principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3rem;
    width: 75%;
    height: 75rem;  
    margin: 2.5rem auto;
}

.img-prod-carta-menu {
    position: relative;
    width: 100%;
    border: 4px solid $color-Principal;
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.5s;
}

.img-main-menu {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.55) contrast(110%) saturate(160%) sepia(20%);
    transition: all 0.5s;

    &:hover {
        filter: brightness(0.50);
    }
}

.enlace-carta {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    font-size: 5rem;
    transition: all 0.5s;

    & .img-main-menu:hover {
        filter: brightness(0.50);
    }
}

// Estilos para las paginas del directorio carta (pasta.html)
.menu-carta ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem; 
    margin: 3rem;
}

.carta-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    width: 75%;
    margin: auto auto 2.5rem;
}

.img-prod-carta {
    position: relative;
    width: 100%;
    border: 4px solid $color-Principal;
    border-radius: 1rem;
    overflow: hidden;
    filter: brightness(0.75) contrast(110%) saturate(160%) sepia(20%);
    transition: all 0.5s;
    
    &:hover {
        filter: brightness(0.9);
        
        .img-desc {
            opacity: 0;
            transition: all 0.5s;
        }
    }
}

.img-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem 1rem;
    background-color: $color-Neutro-Marron;
    border-top: 0.15rem solid $color-Terciario;
    transition: all 0.5s;

    h1 {
        text-align: center;
        font-size: 2rem;
        color: $color-Terciario;
    }

    p {
        text-align: center;
        color: $color-Neutro-Blanco;
        margin-top: 0.5rem;
    }
}