// Importo las Variables y los mixins para aplicar las media queries necesarias
@import '../utils/variables';
@import '../utils/mixins';

// Aqui voy a definir el estilo de la pagina inicio-sesion.html
%estilo-base {
    background-color: $color-Neutro-Blanco;
    border: 0.15rem solid $color-Neutro-Negro;
    border-radius: 1rem;
    box-shadow: 3px 4px 0px 1px $color-Terciario;
}

%estilo-hover {
    background-color: $color-Principal;
    color: $color-Neutro-Blanco;
    border: 0.15rem solid $color-Neutro-Blanco;
    box-shadow: 3px 4px 0px 1px $color-Neutro-Negro;
}

.contenedor-formulario {
    margin: 5rem auto;
    width: 50%;
    background-color: $color-Secundario;
    border: 4px solid $color-Neutro-Marron;
    border-radius: 1rem;
    box-shadow: 3px 4px 0px 1px $color-Terciario;

    h1 {
        font-size: 3.5rem;
        font-style: italic;
        text-align: center;
        text-shadow: 4px 4px 5px $color-Neutro-Negro;
        padding: 1rem 0.5rem 2rem;
    }
}

.inicio-formulario {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 75%;
    padding: 1rem;
    
    label {
        font-family: $font-Secondary;
        font-size: 2rem;
        color: $color-Neutro-Blanco;
    }
}

input[type="email"], input[type="password"] {
    font-family: $font-Secondary;
    font-size: 1.25rem;

    width: 97%;
    height: 2rem;
    padding: 0.5rem;
    margin: 0 0 2rem;
    transition: all 0.25s;

    @extend %estilo-base;

    &::placeholder {
        font-family: $font-Secondary;
    }

    &:focus {
        border: 0.15rem solid $color-Terciario;
        box-shadow: 3px 4px 0px 1px $color-Neutro-Negro;
    }
}

.formulario-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    
}

input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    transition: all 0.25s;
    
    &:checked {
        accent-color: $color-Principal;
        box-shadow: 0px 0px 10px 2px $color-Terciario;
    }
}


.formulario-botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-Secondary;
        font-weight: normal;
        font-weight: bold;
        font-size: 1.5rem;
        color: $color-Neutro-Negro;
        padding: 0;
        text-transform: none;

        width: 30%;
        height: 3rem;
        @extend %estilo-base;
        transition: all 0.25s;

        &:hover {
            @extend %estilo-hover;
        }
    }
}

input[type="submit"]{
    font-family: $font-Secondary;
    font-weight: bold;
    font-size: 1.5rem;
    color: $color-Neutro-Negro;
    
    width: 30%;
    height: 3rem;
    
    cursor: pointer;
    @extend %estilo-base;
    transition: all 0.25s;

    &:hover {
        @extend %estilo-hover;
    }
} 

// Aqui declaro las media-queries de inicio-sesion.html
@include media-queries(small) {
    .contenedor-formulario {
        width: 80%;
    }
    .contenedor-formulario h1 {
        font-size: 2.5rem;
    }
    .inicio-formulario label {
        font-size: 1.5rem;
    }
    input[type="email"], input[type="password"] {
        font-size: 1rem;
    }
    .formulario-botones {
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }
    .formulario-botones a, input[type="submit"] {
        width: 100%;
    }
}

@include media-queries(medium) {
    .formulario-botones {
        flex-direction: row;
        gap: 0rem;
    }
    .formulario-botones a, input[type="submit"] {
        font-size: 1.25rem;
        width: 40%;
    }
}

@include media-queries(tablet) {
    .contenedor-formulario {
        width: 50%;
    }
    .inicio-formulario label {
        font-size: 2rem;
    }
    input[type="email"], input[type="password"] {
        font-size: 1.25rem;
    }
}

@include media-queries(normal) {
    .contenedor-formulario h1 {
        font-size: 3.5rem;
    }
    .inicio-formulario label {
        font-size: 2rem;
    }
    .formulario-botones a, input[type="submit"]{
        font-size: 1.5rem;
        width: 30%;
    }
}