// Importo las Variables y el Mixin de la base de los botones
@use '../utils/variables';
@use '../utils/mixins';

/* Hago herencia para la base de los botones */
%boton-base {
    display: inline-block;
    border: 2px solid;
    border-radius: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.25s ease;
    
    &:hover {
        transition: all 0.25s;
    }
}

/* Boton de Iniciar Sesion */
.boton-inicio {
    @extend %boton-base;
    @include mixins.boton-base(
                variables.$color-Secundario,
                variables.$color-Neutro-Marron,
                variables.$color-Neutro-Blanco,
                0px 0px 5px 5px variables.$color-Neutro-Negro-rgba);
}

/* Boton Predeterminado */
.boton-pred {
    @extend %boton-base;
    @include mixins.boton-base(
                variables.$color-Principal,
                variables.$color-Neutro-Marron,
                variables.$color-Neutro-Blanco,
                0px 0px 5px 5px variables.$color-Neutro-Negro-rgba);
}

/* Boton Footer */
.boton-footer {
    @extend %boton-base;
    @include mixins.boton-base(
                variables.$color-Principal,
                variables.$color-Neutro-Blanco,
                variables.$color-Neutro-Blanco,
                none);
    padding: 0.75rem;
    cursor: default;
    
    &:hover {
        color: variables.$color-Neutro-Negro;
        border: 2px solid variables.$color-Principal;
    }
}