// Fuentes que voy a usar en mi proyecto web

@font-face {
    font-family: 'Lato';
    src: url(../../../media/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Questrial';
    src: url(../../../media/fonts/Questrial-Regular.ttf);
}

