@import url(./modulos.css);
@import url(./layout.css);
@import url(./estados.css);

/* Delcaracion de Variables para su posterior uso */
:root {
    /* Estilo de letra para las fuentes */
    --font-Main: 'Lato';
    --font-Secondary: 'Questrial';

    /* Paleta de colores que se va a usar en la web */
    --color-Principal: #961316;
    --color-Secundario: #B03B3B;
    --color-Secundario-Light: #F1A2A2;
    --color-Neutro-Blanco: #F1E7E7;
    --color-Neutro-Marron: #362624;
    --color-Neutro-Negro: #222222;
}

/* Declaro las fuentes que me he descargado y las tengo 
    guardadas en la carpeta Fonts*/
@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Questrial';
    src: url(../fonts/Questrial-Regular.ttf);
}

/* Hago un reset basico para eliminar los estilos predeterminados
    de los navegadores para algunos aspectos del HTML*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

/* FONDO DE LA WEB */
/* Le asigno un color al fondo */
body {
    background-color: var(--color-Neutro-Blanco);
}

/* VALORES GLOBALES */
/* CABECERA - Le asgino un color de fondo, una anchura, 
    la posicion que sea fija y anchura 100% */
header {
    background-color: var(--color-Principal);
}

a{
    text-decoration: none;
    font-family: var(--font-Main);
}

/* DISEÑO DE LA CABECERA */
/**/
.logo-img{
    width: 10.5rem;
    height: 10.5rem;
    margin: 0.25rem 0.25rem 0.25rem 10rem;
}
