// Importo las funciones map de sass
@use 'sass:map';
@use 'sass:list';

// Aqui creare todos los Mixins que vaya a usar en otros scss

// Estilos de los Botones
@mixin boton-base($background-color, $hover-background-color, $border-color, $box-shadow) {
    background-color: $background-color;
    border-color: $border-color;
    box-shadow: $box-shadow;

    &:hover {
        background-color: $hover-background-color;
    }
}

// Creo una lista para indicar los formatos y otra para indicar las resoluciones
$formats: ("webp", "avif", "jpg");
$resolutions: (320px, 640px, 960px, 1600px, 2240px, 3200px);
$next-res: 0;

// Mixin para crear media-queries para las hero-image. Le asigno x2 su resolucion
@mixin media-img-principal($name) {
    @each $resolution in $resolutions {
        @if (list.index($resolutions, $resolution) == 1) {
            @media (min-width: 0px) {
                background-image: url("../../media/img/hero-image/#{list.nth($formats, 1)}/#{$name}-#{$resolution}.#{list.nth($formats, 1)}");
                background-image: url("../../media/img/hero-image/#{list.nth($formats, 2)}/#{$name}-#{$resolution}.#{list.nth($formats, 2)}");
                background-image: url("../../media/img/hero-image/#{list.nth($formats, 3)}/#{$name}-#{$resolution}.#{list.nth($formats, 3)}");
            }
        } @else {
            @media (min-width: $next-res) {
                background-image: url("../../media/img/hero-image/#{list.nth($formats, 1)}/#{$name}-#{$resolution}.#{list.nth($formats, 1)}");
                background-image: url("../../media/img/hero-image/#{list.nth($formats, 2)}/#{$name}-#{$resolution}.#{list.nth($formats, 2)}");
                background-image: url("../../media/img/hero-image/#{list.nth($formats, 3)}/#{$name}-#{$resolution}.#{list.nth($formats, 3)}");
            }
        }
        $next-res: $resolution;
    }
}

// Declaro los Media Queries para que mi web sea resposive
// Mapa de Puntos de Ruptura
$breakpoints: (
    small: 320px,       // Moviles Pequeños
    medium: 480px,      // Moviles Medianos
    tablet: 768px,      // Tablets
    laptop: 1024px,     // Portailes Pequeños
    normal: 1200px,     // Monitor Normal 
    large: 1600px,      // Monitor Grande
);

// Mixin para hacer las media queries 
@mixin media-queries($key) {
    @if map.has-key($breakpoints, $key) {
        @media (min-width: map.get($breakpoints, $key)) {
            @content;
        }
    } @else {
        @error "El breakpoint `#{$key}` no existe en el mapa de breakpoints.";
    }
}
