* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

@font-face {
  font-family: "Lato";
  src: url(../../media/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Questrial";
  src: url(../../media/fonts/Questrial-Regular.ttf);
}
h1 {
  font-family: "Lato";
  font-size: 4.8rem;
  color: #F1E7E7;
  line-height: 1.2;
}

h2 {
  font-family: "Lato";
  font-size: 3.5rem;
  font-style: italic;
  color: #B03B3B;
  line-height: 1.2;
}

h3 {
  font-family: "Questrial";
  font-size: 2rem;
  color: #F1E7E7;
  line-height: 1.2;
}

p {
  font-family: "Questrial";
  font-size: 1.25rem;
  color: #222222;
  text-align: justify;
  text-indent: 2rem;
}

body {
  background-color: #F1E7E7;
  padding-top: 10rem;
}

a {
  text-decoration: none;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #F1E7E7;
  font-size: 1.5rem;
  display: inline-block;
  padding: 1.25rem;
}
a:hover {
  color: #F1A2A2;
}

/* Boton de Iniciar Sesion */
.boton-inicio {
  background-color: #B03B3B;
  border: 2px solid #F1E7E7;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 5px rgba(34, 34, 34, 0.5);
  transition: all 0.25s ease;
}
.boton-inicio:hover {
  background-color: #362624;
  transition: all 0.25s;
}

/* Boton Predeterminado */
.boton-pred {
  background-color: #961316;
  border: 2px solid #F1E7E7;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 5px rgba(34, 34, 34, 0.5);
  transition: all 0.25s ease;
}
.boton-pred:hover {
  background-color: #362624;
  transition: all 0.25s;
}

/* Boton Footer */
.boton-footer {
  background-color: #961316;
  border: 2px solid #F1E7E7;
  border-radius: 1rem;
  box-shadow: none;
  transition: all 0.25s ease;
  padding: 0.75rem;
}
.boton-footer:hover {
  background-color: #F1E7E7;
  transition: all 0.25s;
}
.boton-footer:hover {
  color: #222222;
  border: 2px solid #961316;
}

header {
  background-color: #961316;
  position: fixed;
  width: 100%;
  top: 0;
  min-height: 10rem;
  z-index: 5;
  box-shadow: 0 10px 5px 0 rgba(34, 34, 34, 0.5);
}
header .img-logoHeader {
  width: 9rem;
  height: 9rem;
  margin: 0.5rem 0 0.5rem 5rem;
}
header .img-logoHeader:hover {
  width: 8.75rem;
  height: 8.75rem;
  margin-right: 0.25rem;
  transition: all 0.5s;
}
header .img-logoHeader:active {
  transform: scale(0.9) skew(-2deg);
}
header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}
header .menu .enlaces ul {
  display: flex;
  list-style: none;
}
header .menu .enlaces ul a {
  font-size: 1.5rem;
  padding: 1.25rem;
}
header .menu .enlaces ul a:hover {
  color: #F1A2A2;
}
header .menu .separado {
  margin-right: 5rem;
}

footer {
  background-color: #362624;
  box-shadow: 0 -5px 5px 0 rgba(34, 34, 34, 0.5);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer .fila-superior {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 1.5rem;
}
footer .fila-superior .img-logoFooter {
  width: 9rem;
  height: 9rem;
  justify-self: start;
}
footer .fila-superior .img-logoPatrocinador {
  width: 10rem;
  height: 10rem;
  justify-self: center;
}
footer .fila-superior .cta-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
footer .fila-superior .cta-redes .img-redes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
footer .fila-superior .cta-redes .img-redes .img-logoRedes {
  width: 2.75rem;
  height: 2.75rem;
  padding: 0.5rem;
  background-color: #961316;
  box-shadow: 0 0 0 0.2rem #F1A2A2;
  border-radius: 1.75rem;
}
footer .fila-inferior {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 0.5rem;
}
footer .fila-inferior .menu-footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 1.5rem;
}
footer .fila-inferior .menu-footer ul a {
  font-weight: normal;
  font-size: 1rem;
  text-transform: none;
  text-align: center;
  color: #F1E7E7;
  display: inline-block;
}
footer .fila-inferior .menu-footer ul a:hover {
  color: #F1A2A2;
}
footer .fila-inferior .copy {
  align-self: flex-start;
  color: #F1E7E7;
  opacity: 60%;
  margin-top: 2rem;
}

.introduccion {
  position: relative;
  width: 100%;
  height: 32rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 5px 0 rgba(34, 34, 34, 0.5);
}
.introduccion .intro-texto {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #F1E7E7;
}
.introduccion .intro-botones {
  position: relative;
  z-index: 1;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  width: 55%;
}

.contenido {
  width: 75%;
  margin: 2.5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  text-align: left;
  align-items: center;
}
.contenido h2 {
  text-align: left;
  margin-bottom: 1.5rem;
}
.contenido .cont-texto {
  margin-top: 1.5rem;
}
.contenido .cont-texto a {
  margin-top: 2.5rem;
}
.contenido .img-deco-index {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0px 0px 5px 5px rgba(34, 34, 34, 0.5);
  border: 2px solid #961316;
  border-radius: 1rem;
  filter: brightness(0.75) contrast(115%) saturate(140%) sepia(45%);
}

.anuncio {
  width: 75%;
  margin: auto auto 2.5rem;
  padding: 1.5rem;
  background-color: #F1A2A2;
  border-radius: 1rem;
  border: 2px solid #B03B3B;
}
.anuncio .anuncio-texto {
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
  text-indent: 0;
  color: #961316;
}

.redes {
  width: 75%;
  margin: auto auto 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.redes .redes-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
.redes .redes-img .img-deco-index-redes {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  border: 4px solid #961316;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.5s;
  filter: brightness(0.75) contrast(115%) saturate(140%) sepia(45%);
}
.redes .redes-img .img-deco-index-redes .img-main {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.redes .redes-img .img-deco-index-redes:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: brightness(0.8);
  transition: all 0.5s;
}
.redes .redes-img .img-deco-index-redes .img-Instagram {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  padding: 0.25rem;
  background-color: #B03B3B;
  border: 3px solid #222222;
  border-radius: 1rem;
  z-index: 10;
}

@media (min-width: 320px) {
  body {
    padding-top: 5rem;
  }
  a {
    font-size: 1rem;
    padding: 0.5rem;
  }
  h1 {
    font-size: 3.8rem;
  }
  h2 {
    text-align: center;
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  header {
    position: absolute;
    min-height: 5rem;
  }
  .img-logoHeader {
    width: 4rem;
    height: 4rem;
    margin: 0;
  }
  a .img-logoHeader:hover {
    width: 3.75rem;
    height: 3.75rem;
    margin: 0;
  }
  .menu {
    height: 5rem;
  }
  .enlaces {
    display: none;
  }
  .separado {
    margin-right: 0.5rem;
  }
  .intro-botones {
    width: 90%;
  }
  .contenido {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .contenido h2 {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .cont-texto {
    margin-top: 0.5rem;
  }
  .cont-texto a {
    margin-top: 2rem;
  }
  .anuncio-texto {
    font-size: 1.25rem;
  }
  .redes-img {
    display: flex;
    flex-wrap: wrap;
  }
  .img-Instagram {
    width: 1.5rem;
    height: 1.5rem;
  }
  .fila-superior {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .fila-inferior {
    width: 90%;
  }
  .copy {
    font-size: 0.55rem;
  }
}
@media (min-width: 480px) {
  body {
    padding-top: 8rem;
  }
  a {
    padding: 1rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  header {
    min-height: 8rem;
  }
  .img-logoHeader {
    width: 7rem;
    height: 7rem;
  }
  a .img-logoHeader:hover {
    width: 6.75rem;
    height: 6.75rem;
  }
  .menu {
    height: 8rem;
  }
  .img-deco-index-redes {
    aspect-ratio: 16/9;
  }
  .copy {
    font-size: 0.75rem;
  }
}
@media (min-width: 768px) {
  a {
    font-size: 1.25rem;
  }
  h1 {
    font-size: 4.8rem;
  }
  h3 {
    font-size: 2rem;
  }
  .img-Instagram {
    width: 2rem;
    height: 2rem;
  }
  .fila-superior {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .copy {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 3.5rem;
  }
  .fila-superior {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 0rem;
  }
  .img-logoRedes {
    width: 1.25rem;
    height: 1.25rem;
  }
  header {
    position: fixed;
  }
  a .img-logoHeader:hover {
    margin: 0.15rem;
  }
  .enlaces {
    display: block;
  }
  .redes-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .img-deco-index-redes {
    aspect-ratio: 1/1;
  }
}
@media (min-width: 1200px) {
  body {
    padding-top: 10rem;
  }
  header {
    min-height: 10rem;
  }
  .img-logoHeader {
    width: 9rem;
    height: 9rem;
    margin: 0.5rem 0 0.5rem 5rem;
  }
  a .img-logoHeader:hover {
    width: 8.75rem;
    height: 8.75rem;
    margin-right: 0.25rem;
  }
  .menu {
    height: 10rem;
  }
  .separado {
    margin-right: 5rem;
  }
  .intro-botones {
    width: 55%;
  }
  .contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
  .contenido h2 {
    text-align: left;
    margin-bottom: 1.5rem;
  }
  .cont-texto {
    margin-top: 1.5rem;
  }
  .cont-texto a {
    margin-top: 2.5rem;
  }
  .anuncio-texto {
    font-size: 1.5rem;
  }
  .fila-superior {
    gap: 1.5rem;
  }
  .img-logoRedes {
    width: 1.75rem;
    height: 1.75rem;
  }
  .fila-inferior {
    width: 70%;
  }
  .copy {
    font-size: 1.25rem;
  }
}
@media (min-width: 1600px) {
  a {
    font-size: 1.5rem;
  }
  .img-Instagram {
    width: 3rem;
    height: 3rem;
  }
  .fila-superior {
    width: 80%;
  }
  .img-logoRedes {
    width: 2.75rem;
    height: 2.75rem;
  }
}

/*# sourceMappingURL=index.css.map */
