/* Eliminado */

/* Como en el apartado anterior le indico una imagen, tamaño y posicion */
.cont-img{
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 0px 5px 5px var(--color-Neutro-Negro-rgba);
    border: 2px solid var(--color-Principal);
    border-radius: 1rem;
}

.img-deco-pred{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
    border-radius: 0.85rem;
    
    filter: brightness(0.75) contrast(115%) saturate(140%) sepia(45%);  
}
.img-deco-index-1 {
    background-image: url(../../media/img/img-decorativa/svg/decorativa-PaginaPrincipal.svg);
}

.cita{
    position: relative;
    z-index: 1;
    text-align: center;
    color: var(--color-Neutro-Blanco);
    font-weight: bolder;
    font-style: italic;
    text-shadow: 2px 2px 2px var(--color-Principal); /* Le añado una sombra al texto para que se vea mejor*/
}

/* Le asigno imagenes a cada articulo de las redes sociales */
.redes-img picture:nth-child(1){
    background: url(../../media/img/img-decorativa/svg/decorativa-PaginaPrincipa-RS-1.svg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.75) contrast(115%) saturate(140%) sepia(45%);  
}
.redes-img picture:nth-child(2){
    background: url(../../media/img/img-decorativa/svg/decorativa-PaginaPrincipa-RS-2.svg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.75) contrast(115%) saturate(140%) sepia(45%);  
}
.redes-img picture:last-child{
    background: url(../../media/img/img-decorativa/svg/decorativa-PaginaPrincipa-RS-3.svg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.75) contrast(115%) saturate(140%) sepia(45%);  
}

.img-deco-index-redes{
    background: url(../../media/img/ico-redes-sociales/svg/logo-Instagram.svg);
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    background-color: var(--color-Secundario);
    border: 3px solid var(--color-Neutro-Negro);
    border-radius: 0.5rem;
} 
