/* Delcaracion de Variables para su posterior uso */
:root {
    /* Estilo de letra para las fuentes */
    --font-Main: 'Lato';
    --font-Secondary: 'Questrial';

    /* Paleta de colores que se va a usar en la web */
    --color-Principal: #961316; /* Color Principal */
    --color-Secundario: #B03B3B; /* Color Secundario */
    --color-Secundario-Light: #F1A2A2; /* Color Secundario Ligero */
    --color-Neutro-Blanco: #F1E7E7; /* Color Texto o Fondo */
    --color-Neutro-Marron: #362624; /* Color Texto o Borde */
    --color-Neutro-Negro: #222222; /* Color Texto o Fondo */
    --color-Neutro-Negro-rgba: rgba(34, 34, 34, 0.5); /* Uso este color para la sombra de los bordes*/
}

/* Declaro las fuentes que me he descargado y las tengo 
    guardadas en la carpeta Fonts*/
@font-face {
    font-family: 'Lato';
    src: url(../../media/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Questrial';
    src: url(../../media/fonts/Questrial-Regular.ttf);
}

/* Hago un reset basico para eliminar los estilos predeterminados
    de los navegadores para algunos aspectos del HTML*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

/* FONDO DE LA WEB */
/* Le asigno un color al fondo */
body {
    background-color: var(--color-Neutro-Blanco);
    padding-top: 10rem; /* Para añadir un espacio para el header*/
}

/* VALORES GLOBALES */
/* CABECERA */
/* Le asigno un color al fondo, la posicion fija para que siempre este arriba y tamaño 100% */
header {
    background-color: var(--color-Principal);

    position: fixed;
    width: 100%;
    top: 0; /* Para recolocar el header en la parte superior*/
    min-height: 10rem; /* Para ajustar dinamicamente */
    z-index: 10; /* Para que el header esta por encima de los demas elementos*/
}

/* PIE DE PAGINA */
/* Le asgino un color de fondo */
footer{
    background-color: var(--color-Neutro-Marron);
    width: 100%;
    padding: 2rem 0; /* Con esto le asigno la altura */
    box-shadow: 0 -5px 5px 0 var(--color-Neutro-Negro-rgba);
}

/* Le asigno un estilo a los enlaces para que todos tenga la misma estructura:
    Ninguna decoracion, tipografia main, negrita, mayuscula y color blanco */
a{
    text-decoration: none;
    font-family: var(--font-Main);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-Neutro-Blanco);

    font-size: 1.5rem;
    display: inline-block;
    padding: 1.25rem;
}

/* Le doy un estilo a los titulos y parrafos */
h1{
    font-family: var(--font-Main);
    color: var(--color-Neutro-Blanco);
    font-size: 4.8rem;
}
h2{
    font-family: var(--font-Main);
    color: var(--color-Secundario);
    font-size: 3.5rem;
    font-style: italic;
}
h3{
    font-family: var(--font-Secondary);
    color: var(--color-Neutro-Blanco);
    font-size: 2rem;
}
p{
    font-family: var(--font-Secondary);
    color: var(--color-Neutro-Negro);
    text-align: justify;
    font-size: 1.25rem;
    text-indent: 2rem;
}


/* LOGO CABECERA */
/* Le asigno al logo del header un tamaño y unos margenes */
.img-logoHeader{
    width: 9rem;
    height: 9rem;
    margin: 0.5rem 0 0.5rem 5rem;
}

/* Efecto al poner el raton encima */
a .img-logoHeader:hover{
    width: 8.75rem;
    height: 8.75rem;
    margin-right: 0.25rem;
    transition: all 0.5s; /* Para que lo hago poco a poco*/
}

/* Efecto para que logo rote ligeramente al hacer mantener
    el clic*/
a .img-logoHeader:active{
    transform: scale(0.90) skew(-2deg);
}

/* MENU */
/* Añado un estilo del tamaño del menu y la disposicion */
.menu{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 5px 0 var(--color-Neutro-Negro-rgba);
}
/* Le indico que los elementos del menu se dispongan de manera horizontal*/
.enlaces ul{
    display: flex;
    list-style: none;
}
/* Cuando se ponga el raton encima de los enlaces se cambie de color */
a:hover{
    color: var(--color-Secundario-Light);
}
/* Muevo el ultimo elemento para dejarlo a la derecha pegado */
.separado{
    margin-right: 5rem;
}

/* BOTONES */
/* Genero un estilo para el boton de inicio */
.boton-inicio{
    background-color: var(--color-Secundario);
    border: 2px solid var(--color-Neutro-Blanco);
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 5px var(--color-Neutro-Negro-rgba);
    transition: all 0.25s ease;
}
/* Le indico que cuando este encima el raton cambie el fondo en 0.25s */
.boton-inicio:hover{
    background-color: var(--color-Neutro-Marron);
    transition: all 0.25s;
}

/* Genero un estilo para los botones predeterminados */
.boton-pred{
    background-color: var(--color-Principal);
    border: 2px solid var(--color-Neutro-Blanco);
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 5px var(--color-Neutro-Negro-rgba);
    transition: all 0.25s ease;
}
/* Le indico que cuando este enciam el raton cambie el fondo en 0.25s */
.boton-pred:hover{
    background-color: var(--color-Neutro-Marron);
    transition: all 0.25s;
}

/* Genero un estilo para el boton del footer */
.boton-footer{
    background-color: var(--color-Principal);
    border: 2px solid var(--color-Neutro-Blanco);
    border-radius: 0.5rem;
    padding: 0.75rem;
    transition: all 0.25s ease;
}
/* Le indico un estilo que se modifique cuando el raton este encima */
.boton-footer:hover{
    color: var(--color-Neutro-Negro);
    background-color: var(--color-Neutro-Blanco);
    border: 2px solid var(--color-Principal);
    transition: all 0.25s;
}

/* MAIN */
/* INTRODUCCION */
/* Añado la imagen le doy una altura y una anchura, y le indico a los elementos de 
    dentro un flex */
.introduccion{
    position: relative;
    width: 100%;
    height: 32rem;
    overflow: hidden;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    box-shadow: 0 10px 5px 0 var(--color-Neutro-Negro-rgba);
}

/* Alieno el texto al centro */
.img-header-pred{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
    
    filter: brightness(0.75) contrast(120%) saturate(110%) sepia(25%);  
}
.img-index {
    background-image: url(../../media/img/hero-image/webp/hero-PaginaPrincipal-3200px.webp);
}

.intro-texto{
    position: relative;
    z-index: 1;
    text-align: center;
}
/* Le indico a los botones que se dispongan en fila y con espacio entre medias
    Ademas le digo que ocupen un 55% del tamaño total*/
.intro-botones{
    position: relative;
    z-index: 1;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    width: 55%;
}

/* CONTENIDO - Index */
/* Le indico el espacio que va a ocupar, el margen que le quiero dar, y hago que el
    contenido de dentro se disponga de forma horizontal */
.contenido{
    width: 75%;
    margin: 2.5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    text-align: right;
    align-items: center;
}
/* Modifico el h2 para que se ponga a la derecha */
.contenido h2{
    text-align: left;
    margin-bottom: 1.5rem;
}
/* Le indico unos margenes superiores para que se se centre el texto y el boton */
.cont-texto{
    margin-top: 1.5rem;
}
.cont-texto a{
    margin-top: 4.5rem;
}

.img-deco-index {
    display: block;
    width: 100%;
    height: auto;
    
    box-shadow: 0px 0px 5px 5px var(--color-Neutro-Negro-rgba);
    border: 2px solid var(--color-Principal);
    border-radius: 1rem;    
    filter: brightness(0.75) contrast(115%) saturate(140%) sepia(45%); 
}

/* ANUNCIO - Index */
/* Le doy un tamaño, el margen que sea automatico, un color de fondo generado en "https://cssgradient.io/"
    redondeo los bordes y le doy un borde*/
.anuncio{
    width: 75%;
    margin: auto auto 2.5rem;
    padding: 1.5rem;
    background-color: var(--color-Secundario-Light);
    /* background: linear-gradient(90deg, rgba(150,19,22,1) 0%, rgba(241,231,231,1) 50%, rgba(150,19,22,1) 100%); */
    border-radius: 1rem;
    border: 2px solid var(--color-Secundario);
}
/* Modifico el aspecto del contenido del anuncio*/
.anuncio-texto{
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    text-indent: 0;
    color: var(--color-Principal);
}

/* REDES - Index */
/* Le doy una disposicion a la seccion de redes */
.redes{
    width: 75%;
    margin: auto auto 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
/* Modifico la disposicion de las imagenes añadiendo un espacio con grid */
.redes-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
/* Le asigno un estilo al contendor de los articulos de las imagenes de las redes sociales*/
.img-deco-index-redes{
    position: relative;
    width: 25rem;
    max-width: 30rem;
    height: 20rem;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;

    border: 4px solid var(--color-Principal);
    border-radius: 1rem;
}

/* Resalto la imagen cuando pongo el raton encima */
.redes-img picture:hover{
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(0.80);
    transition: all 0.5s;
}
/* Modifco la imagen del logo de instagram de las redes sociales */
.insta-img{
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    background-color: var(--color-Secundario);
    border: 3px solid var(--color-Neutro-Negro);
    border-radius: 0.5rem;
}

/* FOOTER */
/* Reformulo el footer */
footer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/* Le doy un tamaño y una disposicion al pie de pagina*/
.fila-superior{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1.5rem;
}
/* Modificamos el logo del footer */
.img-logoFooter{
    width: 9rem;
    height: 9rem;
    justify-self: start;
}
/* Modificamos el logo del Patrocinador */
.img-logoPatrocinador{
    width: 10rem;
    height: 10rem;
    justify-self: center;
}
/* Estilo y disposicion de la seccion del boton, de las redes sociales y de los enlaces*/
.cta-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem ;
}
/* Cambio la disposicion de las imagenes de las redes sociales del Footer*/
.img-redes{
    display: flex;
    gap: 1rem;
}
/* Modifico las imagenes de las redes sociales del footer */
.img-logoRedes {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    background-color: var(--color-Principal);
    box-shadow: 0 0 0 0.2rem var(--color-Secundario-Light);
    border-radius: 1.75rem;
}
/* Configuracion de la segunda fila */
.fila-inferior{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0.5rem;
}
/* Modifico la lista desordenanda del nav del footer */
.menu-footer ul{
    display: flex;
    list-style: none;
}
/* Le indico una disposicion a la lista desordenada del footer */
.menu-footer ul{
   display: flex;
   justify-content: flex-end;
   gap: 1.5rem;
}
/* Modifico el estilos de los enlaces del menu del footer */
.menu-footer a{
    font-weight: normal;
    font-size: 1rem;
    text-transform: none;
    text-align: center;
    color: var(--color-Neutro-Blanco);
    display: inline-block;
    padding: 0;
}
/* Le indico que cuando este el raton encima cambie el color*/
.menu-footer a:hover{
    color: var(--color-Secundario-Light);
}
/* Modifico el estilo del texto de copyright del final */
.copy{
    color: var(--color-Neutro-Blanco);
    opacity: 60%;
    margin-top: 2rem;
}

/* MEDIA QUERIES */
@media (max-width: 1520px){
    /* Modificar el estilo del apartado de redes sociales del main*/
    .redes-img article:last-child{
        display: none;
    }
    .redes-img{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1335px){
    /* Modifico el estilo del boton saber mas del main */
    .cont-texto a{
        margin-top: 1rem;
    }
    /* Modifico la disposion del footer */
    .pie-pagina{
        width: 95%;
    }
}

@media (max-width: 1277px){
    /* Modifico el estilo del tamaño de los enlaces del menu*/
    a{
        font-size: 1.25rem;
        padding: 1rem;
    }
    .logo-img{
        margin: 0.5rem 0 0.5rem 2.5rem;
    }
    .separado{
        margin-right: 2.5rem;
    }
}

@media (max-width: 1038px){
    /* Modifico el estilo del tamaño de los enlaces del menu*/
    h2{
        font-size: 2.5rem;
    }
}