// Importo las Variables y las funciones map de sass
@use 'sass:map';
@import '../utils/variables';

// Diseño del Footer
// Creo un mapa y luego hago una funcion para obtener los valores correspondientes
$footer-colors: (
    "background": $color-Neutro-Marron,
    "text": $color-Neutro-Blanco,
    "hover": $color-Terciario,
    "shadow": $color-Neutro-Negro-rgba,
    "main": $color-Principal,
    "hover-2": $color-Neutro-Negro,
);

footer {
    background-color: map.get($footer-colors, "background");
    box-shadow: 0 -5px 5px 0 map.get($footer-colors, "shadow");
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.fila-superior {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1.5rem;
}

.img-logoFooter {
    width: 9rem;
    height: 9rem;
    justify-self: start;
}

.img-logoPatrocinador {
    width: 10rem;
    height: 10rem;
    justify-self: center;
}

.cta-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.img-redes {
    display: flex;
    justify-content: center;
}

.img-redes i.fab {
    font-size: 2rem;
    padding: 1rem;
    background-color: map.get($footer-colors, "main");
    border: 0.2rem solid map.get($footer-colors, "text");
    border-radius: 2.5rem;
    transition: all 0.25s ease;
}

.img-redes i.fab:hover {
    color: map.get($footer-colors, "hover-2");
    background-color: map.get($footer-colors, "text");
    border: 0.2rem solid map.get($footer-colors, "main");
}

.fila-inferior {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 0.5rem;
}

.menu-footer {
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        gap: 1.5rem;
        
        a {
            font-weight: normal;
            font-size: 1rem;
            text-transform: none;
            text-align: center;
            color: map.get($footer-colors, "text");
            display: inline-block;

            &:hover {
                color: map.get($footer-colors, "hover")
            }
        }
    }
}

.copy {
    align-self: flex-start;
    color: map.get($footer-colors, "text");
    opacity: 60%;
    margin-top: 2rem;
}