// Importo las Variables 
@use '../utils/variables';

// Diseño del Header
@function px-to-rem($px) {
    @return $px / 16px * 1rem;
}

header {
    background-color: variables.$color-Principal;
    position: fixed;
    width: 100%;
    top: 0;
    min-height: px-to-rem(160px);
    z-index: 5;
    box-shadow: 0 px-to-rem(10px) px-to-rem(5px) 0 variables.$color-Neutro-Negro-rgba;
}

.img-logoHeader {
    width: px-to-rem(144px);
    height: px-to-rem(144px);
    margin: px-to-rem(8px) 0 px-to-rem(8px) px-to-rem(80px);

    &:hover {
        width: px-to-rem(140px);
        height: px-to-rem(140px);
        margin: auto;
        transition: all 0.5s;
    }

    &:active {
        transform: scale(0.90) skew(-2deg);
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: px-to-rem(160px);
}

.menu-desplegable {
    display: none;
    background: none;
    border: none;
    color: variables.$color-Neutro-Blanco;
    font-size: px-to-rem(80px);
    cursor: pointer;
}

.enlaces {
    display: flex;
    flex-direction: row;
    list-style: none;
        
    a:hover {
        color: variables.$color-Terciario;
    }
}

.separado {
    margin-right: px-to-rem(80px);
}