// Importo las Variables 
@use '../utils/variables';

// Diseño del Header
header {
    background-color: variables.$color-Principal;
    position: fixed;
    width: 100%;
    top: 0;
    min-height: 10rem;
    z-index: 5;
    box-shadow: 0 10px 5px 0 variables.$color-Neutro-Negro-rgba;
}

.img-logoHeader {
    width: 9rem;
    height: 9rem;
    margin: 0.5rem 0 0.5rem 5rem;

    &:hover {
        width: 8.75rem;
        height: 8.75rem;
        margin: auto;
        transition: all 0.5s;
    }

    &:active {
        transform: scale(0.90) skew(-2deg);
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}

.menu-desplegable {
    display: none;
    background: none;
    border: none;
    color: variables.$color-Neutro-Blanco;
    font-size: 5rem;
    cursor: pointer;
}

.enlaces {
    ul {
        display: flex;
        list-style: none;
        
        a:hover {
            color: variables.$color-Terciario;
        }
    }
}

.separado {
    margin-right: 5rem;
}